.change-password-page {
  min-height: calc(100vh - 22rem);
  padding-block: 3rem;
}

.change-password-page__container {
  max-width: 30rem;
}

.change-password-page__subtitle {
  max-width: 24rem;
}

