<div class="app-form-field flex flex-column gap-2 w-full">
  @if (props.label) {
    <label [for]="inputId" class="app-form-field__label">
      {{ props.label }}
    </label>
  }

  <p-password
    class="app-form-field__password w-full"
    [inputId]="inputId"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder ?? ''"
    [minlength]="props.minLength ?? null"
    [maxlength]="props.maxLength ?? null"
    [autocomplete]="autocomplete"
    [toggleMask]="toggleMask"
    [feedback]="feedback"
    [strongRegex]="strongRegex"
    [promptLabel]="promptLabel"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [variant]="props['variant'] ?? null"
  >
    @if (feedback) {
      <ng-template #footer>
        <p-divider />

        <div class="flex flex-column gap-3">
          <p class="app-password-feedback__title m-0">La contraseña debe contener:</p>

          <ul class="flex flex-column gap-2 m-0 pl-3">
            @for (requirement of requirements; track requirement) {
              <li class="app-password-feedback__item">
                {{ requirement }}
              </li>
            }
          </ul>
        </div>
      </ng-template>
    }
  </p-password>

  @if (showError) {
    <formly-validation-message [field]="field"></formly-validation-message>
  }
</div>
